{% extends '@DlCommunityCore/template/template.html.twig' %} 

{% block home %} Forum {% endblock %}



    {% block body %}

     <section class="container">
            <div class="col4 col6-s">
            </br>
                {% for categs in categ %}
                <div class="corpConten" style="width: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ categs.categoryName}}</h5>
                    </div>
                </div>
                {% endfor %}
            </div> 
    </section>
                   
    {% endblock %}   

