{% extends '@DlCommunityCore/template/template.html.twig' %} 

{% block home %} Forum {% endblock %}

    {% block body %}

        <section class="container">
                <div class="col4 col6-s">
                </br>
                    {% for categs in categ %}
                    <div class="corpConten" style="width: 15rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ categs.categoryName}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                            {% for SBCs in categs.getSubCategorys %}                                 
                                <a href="{{ path('dl_community_forum_Subjet') }}"> {{SBCs.getSubCategoryName}} </a>
                            {% endfor %}
                            </h6>
                        </div>
                    </div>
                    {% endfor %}
                </div> 
        </section>
                   
    {% endblock %}   