{% extends '@DlCommunityCore/template/template.html.twig' %} 

{% block home %} Forum {% endblock %}

    {% block body %}
        
    
      <div class="corpConten">
  
    {% for teste in test %}
    {{teste.categoryName}} </br>
        <div class="categoryName"> <a class="nonCategory" href="{{ path('') }}"> Categorie  </a>
    {% endfor %}
    </br>

  
    
        </div>
                   

    {% endblock %}   

