{% extends '@DlCommunityCore/template/template.html.twig' %} 

{% block home %} Forum {% endblock %}

    {% block body %}รท
        
    
      <div class="corpConten">
  
    {% for teste in test %}
    {{teste.categoryName}} </br>
        <div class="categoryName"> <a class="nonCategory" href="{{ path('Default/SubCategory') }}"> Categorie  </a>
    {% endfor %}
    </br>

        </div>
                   
    {% endblock %}   

